<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <!-- Tarjeta: Inscripci贸n -->
  <a href="/estudiante/inscripcion" class="bg-white p-6 rounded shadow hover:shadow-lg transition hover:scale-105 flex flex-col items-center">
    <div class="mb-4">
      <img src="/img/panel/1 panel-inscripcion.png" alt="Inscripci贸n" class="w-full h-70 object-cover rounded-md">
    </div>
    <button class="w-full h-10 bg-blue-600 text-white px-4 py-2 rounded hover:bg-gradient-to-r from-cyan-200 to-blue-500 to-blue-700 transition">Acceder</button>
  </a>

  <!-- Tarjeta: Adici贸n y Retiro -->
  <a href="/estudiante/adicion-retiro" class="bg-white p-6 rounded shadow hover:shadow-lg transition hover:scale-105 flex flex-col items-center">
    <div class="mb-4">
      <img src="/img/panel/2 panel-adicion y retiro.png" alt="Adici贸n y Retiro" class="w-full h-70 object-cover rounded-md">
    </div>
    <button class="w-full h-10 bg-blue-600 text-white px-4 py-2 rounded hover:bg-gradient-to-r from-cyan-200 to-blue-500 to-blue-700 transition">Acceder</button>
  </a>

  <!-- Tarjeta: Acta Especial -->
  <a href="/estudiante/acta-especial" class="bg-white p-6 rounded shadow hover:shadow-lg transition hover:scale-105 flex flex-col items-center">
    <div class="mb-4">
      <img src="/img/panel/3 panel-acta especial.png" alt="Acta Especial" class="w-full h-70 object-cover rounded-md">
    </div>
    <button class="w-full h-10 bg-blue-600 text-white px-4 py-2 rounded hover:bg-gradient-to-r from-cyan-200 to-blue-500 to-blue-700 transition">Acceder</button>
  </a>

  <!-- Tarjeta: Encuestas -->
  <a href="/estudiante/encuestas" class="bg-white p-6 rounded shadow hover:shadow-lg transition hover:scale-105 flex flex-col items-center">
    <div class="mb-4">
      <img src="/img/panel/4 panel-encuestas.png" alt="Encuestas" class="w-full h-70 object-cover rounded-md">
    </div>
    <button class="w-full h-10 bg-blue-600 text-white px-4 py-2 rounded hover:bg-gradient-to-r from-cyan-200 to-blue-500 to-blue-700 transition">Acceder</button>
  </a>
</div>