<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <h1>Bienvenido a Gabriel Edu Link</h1>
  <p>Proyecto con Express, EJS, JWT, bcryptjs, MVC, SOLID y SQLite.</p>
  <a href="/auth/login">Login</a> | <a href="/auth/register">Registro</a>
</body>
</html>