<footer class="bg-gradient-to-r from-blue-700  to-blue-500 to-cyan-200 shadow-md border-t border-gray-300 mt-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6 flex flex-col md:flex-row justify-between items-center text-sm text-gray-600">
    
    <!-- Información institucional -->
    <div class="mb-4 md:mb-0 text-center md:text-left text-blue-50">
      <p>&copy; <%= new Date().getFullYear() %> EduLink. Todos los derechos reservados.</p>
      <p class="text-xs text-gray-100">Tu conexión con la gestión estudiantil</p>
    </div>

    <!-- Enlaces redes sociales -->
    <div class="flex space-x-4">
      <a href="https://www.facebook.com/profile.php?id=61584236616331" class="hover:text-blue-600 transition"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/edu.link1/" class="hover:text-blue-600 transition"><i class="bi bi-instagram"></i></a>
    </div>
  </div>
</footer>